
@import url('https://fonts.googleapis.com/css2? family= Inter:wght@100;200;300 & family= Roboto+Flex:wght@300;400 & family= Roboto:wght@ 300 & família= Ysabeau+Infant:ital,wght@0,200;1,200 & display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;


}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #24252a;
  box-shadow: 0px 1.5px 5px #464646;
  z-index: 1000; /* Garante que o header fique acima do conteúdo da página */
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}



.logoheader {
width: 130px; /* Tamanho desejado */
height: auto;
margin-right: 20px; /* Espaçamento desejado entre o logotipo e o texto */
padding-left: 10px;
}


.logo {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  justify-content: center; 
}

.nav-list ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  text-decoration: none;
  font-size: 14px;
  color: #bbbbbb;
  font-weight: 400;
}

.nav-link:hover {
opacity: 0.8;

}

.login-button button {
  border: none;
  background-color: #0d6efd;
  padding: 9px 14px;
  border-radius: 5px;
}

.login-button button a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 730px){
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item{
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon{
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }

}

.principal {
  padding: 30px;
  text-align: left;
  
}

.footer {
  text-align: center; 
  align-items: center;
  display: flex;
  position: relative;
  margin-left: 80px;
  }

.card-body {
  text-align: center;
}

.redes {
  text-align: center;
}

.dev {
  text-align: center;
}

 li {
  color:#918c8c;
  font-size: 14px;
}

p {
  color: #000000;
  font-size: 14px;
}
