@import url('https://fonts.googleapis.com/css2? family= Inter:wght@100;200;300 & family= Roboto+Flex:wght@300;400 & family= Roboto:wght@ 300 & família= Ysabeau+Infant:ital,wght@0,200;1,200 & display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;


}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #24252a;
    box-shadow: 0px 1.5px 5px #464646;
    z-index: 1000; /* Garante que o header fique acima do conteúdo da página */
  }
  
  .nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }
  
  
  
  .logoheader {
  width: 130px; /* Tamanho desejado */
  height: auto;
  margin-right: 20px; /* Espaçamento desejado entre o logotipo e o texto */
  padding-left: 10px;
  }
  
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .nav-list {
    display: flex;
    justify-content: center; 
  }
  
  .nav-list ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin: 0 10px;
  }
  
  .nav-link {
    text-decoration: none;
    font-size: 14px;
    color: #bbbbbb;
    font-weight: 400;
  }
  
  .nav-link:hover {
  opacity: 0.8;
  
  }
  
  .login-button button {
    border: none;
    background-color: #0d6efd;
    padding: 9px 14px;
    border-radius: 5px;
  }
  
  .login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
  }
  
  .mobile-menu-icon {
    display: none;
  }
  
  .mobile-menu {
    display: none;
  }
  
  @media screen and (max-width: 730px){
      .nav-bar {
          padding: 1.5rem 4rem;
      }
      .nav-item{
          display: none;
      }
      .login-button {
          display: none;
      }
      .mobile-menu-icon{
          display: block;
      }
      .mobile-menu-icon button {
          background-color: transparent;
          border: none;
          cursor: pointer;
      }
      .mobile-menu ul {
          display: flex;
          flex-direction: column;
          text-align: center;
          padding-bottom: 1rem;
      }
      .mobile-menu .nav-item {
          display: block;
          padding-top: 1.2rem;
      }
      .mobile-menu .login-button {
          display: block;
          padding: 1rem 2rem;
      }
      .mobile-menu .login-button button {
          width: 100%;
      }
      .open {
          display: block;
      }

}
.img_topo {
    display: flex;
    height: 100vh;
    background: url(img/img_topo.png) center center no-repeat;
    background-size: cover;
    
}
.title{ 
    font-size: 300%;
    width: 1000px;
    height: 100px;
    text-align: center;
    margin: auto;
    color: #fff;
}
.sub-title{
    font-size: 150%;
    width: 1000px;
    height: 100px;
    text-align: center;
    margin: auto;
    color: #000000;
}
.redes {
    text-align: center;

}
.container mt-4 {
    text-align: center;

}

.dev{
    text-align: center; 
}
.footer {
    text-align: center; 
    align-items: center;
    display: flex;
    position: relative;
    margin-left: 80px;
    }

 .card-body {
    text-align: center;
}



.conecte-se {
    font-size: 150%;
    width: 1000px;
    height: 100px;
    text-align: center;
    margin: auto;
    color: #000000;
}
.text-sub{
    height: 1000%;
    text-align: center;
    margin-bottom: 30px;
}

.text-overlay {
    position: absolute;
    bottom: 90px; 
    left: 50%; 
    transform:translateX(-50%);
    padding: 5px 10px; 
    font-size: 17px;
    color: #ffffff;
    background-color: #24252a;
    
    white-space: nowrap;
}
.container-card{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card-grid{
    width: 300px;
    height: 460px;
    margin: 25px;
    background-color: white;
    border-color: #000000;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
.card-header{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.card-img{
    min-width: 100%;
    width: auto;
    height: 100%;
}
.card-body{
    height: 170px;
    padding: 15px;
    text-align: center;
}
.card-local{
    font-size: 15px;
    margin: 7px 0;
}
.card-titulo{
    font-size: 25px;

}
.card-text{
    font-size: 12px;
    width: 250px;
    margin: 0 auto;
}
.card-footer{
    margin-top: 10px;
    text-align: center;
    background-color:#0d6efd;
}

.card-footer a{
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 600;
}
.card-grid:hover{
    transform: scale3d(1.1, 1.1, 1);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color:#f1f3f7;
    width: 60%;
    max-width: 400px;
    margin: 10% auto;
    padding: 20px;
    border-radius:20px;
}

#closeModalBtn {
    color: #fff;
    margin-top: 10px;
    background-color:#0d6efd;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    
}
.modal-text{
    font-size: 12px;
    line-height: 1.6;
    color: #333;
}
